html { padding: 10px;}

img {
    display: block;
    max-width:400px;
    max-height:400px;
    width: auto;
    height: auto;
}

.right-block {
    border-right: 3px solid #eee;
}

.small-picture {
	display: block;
    max-width:100px;
    max-height:100px;
    width: auto;
    height: auto;
}

.top-block {
	border-bottom: 2px solid #eee;
}