<!DOCTYPE html>
<html>
   <head>
      <title>Categories mapping tool</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel='stylesheet' type=text/css href="{{ url_for('static', filename='style.css') }}">
   </head>
   <body>
      <div class="col-md-12">
         <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
               <form action="{{ url_for('approve_predicted', sku_name=item['sku']) }}" method=post class=add-entry>
                  <input type=submit value='Approve predicted' class="btn btn-default">
               </form>
            </div>
            <div class="btn-group" role="group">
               <form action="{{ url_for('approve_original', sku_name=item['sku']) }}" method=post>
                  <input type=submit value='Approve original' class="btn btn-default">
               </form>
            </div>
            <div class="btn-group" role="group">
               <form action="{{ url_for('approve_both', sku_name=item['sku']) }}" method=post>
                  <input type=submit value='Both correct' class="btn btn-default">
               </form>
            </div>
            <div class="btn-group" role="group">
               <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Choose other category
               <span class="caret"></span>
               </button>
               <ul class="dropdown-menu pull-right">
                  {%for cat in suggest.keys() %}
                  <li><a href="{{ url_for('choose_another', category=cat, sku_name = item['sku']) }}">{{category_map[cat]}}</a></li>
                  {%endfor%}
               </ul>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-8 right-block">
            <div class="page-header">
               <h1>Item for classification <small>{{items_left}} in queue</small></h1>
            </div>
            <div class="col-md-4">
               <img src="{{item['image_url']}}" class="img-rounded">
               <form action="{{ url_for('bad_item', sku_name=item['sku']) }}" method=post>
                  <input type=submit value='Bad item or no right category' class="btn btn-danger btn-lg center-block">
               </form>
            </div>
            <div class="col-md-6">
               <dl class="dl-horizontal">
                  <dt>SKU</dt>
                  <dd>{{item['sku']}}</dd>
                  <dt>Name</dt>
                  <dd>{{item['name']}}</dd>
                  <dt>Description</dt>
                  <dd>{{item['description']| safe}}</dd>
               </dl>
            </div>
         </div>
         <div class="col-md-4">
            <div class="page-header">
               <h1>Items in proposed categories</h1>
            </div>
            <div class ='top-block'>
               <h4>{{category_map[item['predicted_category']]}}</h4>
               <h4><span class="label label-default">Predicted category</span></h4>
               {%for sku in samples_map[item['predicted_category']]%}
               {% include 'item_widget.html' %}
               {%endfor%}
            </div>
            <h4>{{category_map[item['original_category']]}}</h4>
            <h4><span class="label label-warning">Original category</span></h4>
            {%for sku in samples_map[item['original_category']] %}
            {% include 'item_widget.html' %}
            {%endfor%}
         </div>
      </div>
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   </body>
</html>