<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object small-picture" src="{{sku[2]}}" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{sku[0]}}</h4>
    {{sku[1]}}
  </div>
</div>