<!DOCTYPE html>
<html>
   <head>
      <title>Categories mapping tool</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel='stylesheet' type=text/css href="{{ url_for('static', filename='style.css') }}">
   </head>
   <body>
      <div class="jumbotron col-md-6">
         {% if items_left == -1 %}
         <h1>There are no samples left</h1>
         <p>Contact your manager </p>
         <p><a class="btn btn-primary btn-lg" href="{{ url_for('show_variant')}}" role="button">Refresh</a></p>
         {% else %}
         <h1>All samples are locked by other operators</h1>
         <p>Refresh your page in 5 minutes </p>
         <p><a class="btn btn-primary btn-lg" href="{{ url_for('show_variant')}}" role="button">Refresh</a></p>
         {% endif %}
      </div>
   </body>
</html>